body {
    margin: 0;
    text-align: center;
    font-family: Inter;
}

#container{
    width: 550px;
    height: 729px;
    background: #F4F4F4;
}

#header{
    background-color: #6943FF;
    color: white;
    margin-top:0px;
    padding: 33px;
}

h1{
    font-size: 28px;
    font-weight: 800;
    margin:0px;
}

#user-input{
    background-color: #6943FF;
    border-radius: 5px;
    border: 2px solid #B295FF;
    font-size: 58px;
    width: 117px;
    height: 83px; 
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 25px;
}

button{
    display: block;
    margin: 0 auto;
    font-family: Inter;
    color: #3D3D3D;
    font-size: 16px;
    background-color: white;
    border: none;
    padding: 9px 27.5px;
    border-radius: 5px;
    font-weight: 500;
    line-height: 24px;
}

#conversion{
    width: 500px;
    height: 108.573px;
    border-radius: 4.681px 0px 0px 0px;
    background: var(--white, #FFF);
    margin-bottom: 23.41px;
}

#conversion-container{
    padding: 36px 25px;
}

h2{
    color: #5A537B;
    font-size: 20px;
    font-weight: 600;
    padding-top: 31px;
    margin-top: 0px;
}

p{
    color: #353535;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}